.modal-overlay {
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	box-shadow: var(--shadow);
	border-radius: 1rem;
	background-color: var(--white);
	min-width: 324px;
	max-width: 648px;
}

.modal-header {
	padding: 1rem 2rem;
	border-bottom: 1px solid var(--light);
}

.modal-title {
	font-weight: bold;
	font-size: 1.2rem;
	margin: 0;
}

.modal-content {
	padding: 2rem 2rem;
}

.modal-footer {
	padding: 2rem 2rem;
	border-top: 1px solid var(--light);
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
}
